<head>
	<title>Connected Health</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.8.0"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
table, th, td {
  border: 1px solid gray;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
</head>

<body style="background-color:black;">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">CONNECTED HEALTH</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Dash Board</a></li>	  
		<li><a href="/data">Report</a></li>
        <li><a href="#">Health Record</a></li>
		<li><a href="#">Health Analytics</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<table class="center" style="background-color:black">
  <tr style="background-color:black">
    <th style="padding:10px"><p><font color="gray">Patient id </font></p> </th>
	<th style="padding:10px"><p><font color="gray">Patient name</font></p>   </th>
	<th style="padding:10px"><p><font color="gray">Patient  Report</font></p>   </th>
  </tr>
  <tr>
    <td style="padding:10px"><p><font color="gray">01</font></p></td>	
    <td style="padding:10px"><p><font color="gray">Manmath</font></p></td>	
	<td style="padding:10px"><p><font color="gray"><a href= "/data">View live heart rate</a></font></p></td>
  </tr>
  <tr>
    <td style="padding:10px"><p><font color="gray">02</font></p></td>	
    <td style="padding:10px"><p><font color="gray">Dummy</font></p></td>	
	<td style="padding:10px"><p><font color="gray">View live heart rate</font></p></td>
  </tr>
</table>




</body>
